

@{
    ViewBag.Title = "InfoAndErrors";
}


<h2 title="Помилка" class="text-warning">@ViewBag.Message</h2>

<div>
    <p class="semiopacity">@Html.ActionLink("На Головну", "Index", "Home")</p>
</div>

